<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>    
<body>
    <header>
        <section class="header-cadastro">
            <div class="logo-header-cadastro">
                <img src="./images/LOGO CAMISETERIA.png" alt="" id="img-header-cadastro">
            </div>
            <div class="texto-header-cadastro">
                <p>
                Para mais informações entre em contato<BR>pelo telefone: (XX)- XXXXXXXX<BR>
                Funcionamento: seg à sex das 9h às 18h    
                </p>                
            </div>   
        </section>        
    </header>
    <main>
        <section class="area-cadastro">
            <div class="titulo-cadastro">
                <h1>
                    INSIRA SEUS DADOS
                </h1>
            </div>
            <div class="dados-formulario">
                <form action="" class="formulario-cadastro">
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-esquerdo">
                            <label for="name">NOME:</label>
                            <input type="text" id="nome" name="nome">
                        </div>
                        <div class="campo-formulario-cadastro" id="campo-direito">
                            <label for="last name">SOBRENOME:</label>
                            <input type="text" id="last-name" name="last name">
                        </div>
                    </div>    
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica">
                            <label for="email">E-MAIL:</label>
                            <input type="email" id="email" name="email">
                        </div>  
                    </div>   
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-esquerdo">
                            <label for="data-nascimento">DATA DE NASCIMENTO:</label>
                            <input type="date" id="data-nascimento" name="data-nascimento">
                        </div>
                        <div class="campo-formulario-cadastro" id="campo-direito">
                            <label for="last name">SEXO:</label>
                            <select name="last name" id="select-form">
                                <option disabled selected></option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="feminino">Outro</option>
                            </select>
                        </div>
                    </div> 
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-esquerdo">
                            <label for="cpf">CPF:</label>
                            <input type="number" id="cpf" name="cpf">
                        </div>
                        <div class="campo-formulario-cadastro" id="campo-direito">
                            <label for="telefone">TELEFONE:</label>
                            <input type="tel" id="telefone" name="telefone">
                        </div>
                    </div>        
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <label for="senha">SENHA:</label>
                            <input type="password" id="senha" name="senha">
                        </div>  
                    </div>  
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <label for="senha">CONFIRME SUA SENHA:</label>
                            <input type="password" id="senha" name="senha">
                        </div>  
                    </div>       
                    <div class="linha-formulario" id="texto-final-formulario">
                        <input type="checkbox" id="checkbox">
                        <label for="promocoes">QUERO RECEBER PROMOÇÕES POR E-MAIL.</label>
                    </div>   
                    <div class="linha-formulario" id="texto-final-formulario">
                        <p>Ao criar uma conta você está de acordo com nossa <strong><a href="">política de privacidade.</a></strong></p>
                    </div>   
                    <div class="linha-formulario">
                        <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                            <button type="submit" class="botao-cadastro-formulario">CADASTRAR</button>
                        </div>  
                    </div>
                </form>
            </div>            
        </section>
    </main>
    
</body>
</html>