<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleHomePage.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

	
	
    <title>Camiseteria</title>
</head>
<body>
    <header>
		<%- include('./partials/header') %>		
    </header>
    <main>
        <section>
            <article class="imagemBannerHomePage">
                <img src="./images/pexels-sinitta-leunen-6598173.jpg">
            </article>

            <article class="imagemFreteSeguranca">
                <img src="./images/banner (1).png">
            </article>
        </section>
        


        <section class="tituloSecaoHome">
            <button type="button"></button>
            <h1>Mais Vendidos</h1>
        </section>

        <section class="cardsHome">
			
			
			
			<article class="produtosCard">
				<article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-branca.webp">
					</div>
					<div class="elementosCards">
						<p>Camiseta Lisa Branca</p>
						<p>R$49.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
					

				</article>

				<article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-azul.jpg">
					</div>
					<div class="elementosCards">
						<p>Camiseta Lisa Branca</p>
						<p>R$49.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
					

				</article>

				<article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-cinza.webp">
					</div>
					<div class="elementosCards">
						<p>Camiseta Lisa Branca</p>
						<p>R$49.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
					

				</article>

				
			</article>
		</section>

        <section class="tituloSecaoHome">
            <button type="button"></button>
            <h1>Roupas Femininas</h1>
        </section>

        <section class="cardsHome">
            <article class="produtosCard">
                <article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-fem-azul.jpg">
					</div>
					<div class="elementosCards">
						<p>Camiseta Feminina Azul</p>
						<p>R$39.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
                </article>

                <article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-feminina-rosa.jpg">
					</div>
					<div class="elementosCards">
						<p>Camiseta Feminina Rosa</p>
						<p>R$39.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
					

                </article>

                <article class="elementosCards">
					<div class="imagemProdutosCard">
						<img src="./images/camiseta-feminina.jpg">
					</div>
					<div class="elementosCards">
						<p>Camiseta Feminina Branca</p>
						<p>R$39.99</p>
					</div>
					<button type="submit">Comprar</button>
					
					
					

                </article>


                    
            </article>
        </section>



        <section>
            <article class="containerpaicadastroemail">
                <div class="textorecebanovidades">
                    <h2>Receba as novidades</h2>
                    <p>Digite seu email para receber as novidades antes de todos</p>
                </div>
                <article class="areaemailarrendondada">
						<form>
							<div class="campoDeInput">
								<label for="nome">Nome</label>
								<input type="text"  id="nome" name="nome" placeholder="Digite seu nome aqui" >
							</div>

							<div class="campoDeInput">
								<label for="email">Email</label>
								<input id="email"  type="email" name="email"  placeholder="Digite seu email aqui" required >
							</div>

							<button id="buttoncadastrar" type="submit">Cadastrar</button>
						</form>
					
				</article>
            </article>
        </section>
		<section class="containerQualidadeDoProduto">
			<article>
				<div class="textoQualidadeDoProduto">
					<img src="./images/rsz_algodaolojamirante.webp">
					
						<div>
							<strong>TECIDO</strong>
							<p>Malha 100% Algodão Premium, Com Excelente Gramatura. Nosso Cuidado Passa Pela Compra Do Fio, Tecelagem, Tingimento E Produção.</p>
						</div>
					
				</div>
				<div class="textoQualidadeDoProduto">
						<img src="./images/rsz_qualidadelojamirante.webp">
					<div>
						<strong>CORTE E COSTURA</strong>
						<p>Modelagem Testada E Aprovada, Com Ótimo Caimento. Peças Com Costura Reforçada Com Excelente Modelagem E Acabamento.</p>
					</div>
				</div>			
			</article>
		</section>
    </main>
	<%- include('./partials/footer') %>    
</body>
</html>