

<footer>
    <article class="secao-footer">
        <h3>QUEM SOMOS</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in ...</p>
        <img src="./images/LOGO CAMISETERIA.png" alt="" id="img-footer-logo">
    </article>
    <article class="secao-footer">
        <h3>MAPA DO SITE</h3>
        <a href=""><p>Sobre nós</p></a><br>
        <a href=""><p>Trocas e Devoluções</p></a><br>
        <a href=""><p>FAQ</p></a><br>
        <a href=""><p>Política de Privacidade</p></a><br>
        <a href=""><p>Contato</p></a><br>
    </article>
    <article class="secao-footer">
        <h3>CONTATO</h3>
        <form action="" class="form-footer">
            <label for="name">NOME:</label>
            <input type="text" id="nome" name="nome">
            <label for="email">E-MAIL:</label>
            <input type="email" id="email" name="email">
            <label for="mensagem">MENSAGEM:</label>
            <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </article>
    <article class="secao-footer"> 
        <h3>SOCIAL</h3>
            <div class="secao-footer-social">
                <a href=""><img src="./images/WPP-ICON.png" alt=""></a>
                <a href=""><img src="./images/IG-ICON.png" alt=""></a>
                <a href=""><img src="./images/FB-ICON.png" alt=""></a>
                <a href=""><img src="./images/PINTEREST-ICON.png" alt=""></a>
            </div>                                
    </article>
</footer>    