<header>
    <nav class="menu-top">
        <div class="infos-left-menu-top">
            <p class="tel-menu-top">(00)1234-5678
            <p id="barra-divisoria">   |   </p>
            <p>lojagrupo7@camiseteria.com.br</p>            
        </div>
        <div class="infos-right-menu-top">
            <a href="../cadastro"><p>Cadastre-se</p></a>
            <p id="barra-divisoria">   |   </p>            
            <a href="../login"><p>Login</p></a>
        </div>
    </nav>
    <nav class="menu-center">
        <div class="logo-menu-principal">
            <img src="./images/LOGO CAMISETERIA.png" alt="logo camiseteria" id="img-header-logo">
        </div>
        <div class="menu-principal">
            <a href="../homePage.ejs"><p class="itens-menu-principal">INÍCIO</p></a>
            <a href="../homePage.ejs"><p class="itens-menu-principal">PRODUTOS</p></a>
            <a href="../homePage.ejs"><p class="itens-menu-principal">CONTATO</p></a>
            <a href="../homePage.ejs"><p class="itens-menu-principal">FAQ</p></a>
        </div>
        <div class="campo-busca-menu">
            <input type="text" placeholder="Buscar" id="buscador-menu">
            <img src="./images/download.png" class="carrinho-compra-menu">
        </div>       
    </nav>
</header>