/* Fontes do projeto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat'
}
/*Formulario de contato*/

        

p {
font-weight: 800;
}

.container{
    background-color: blue;
    margin: 10% 10%;
    display: flex;
        
}

.container-section{
    background-color: yellow;
    display: flex;
}

.formulario-contato{
    background-color: red;
    width: 100%;
}

.titulo-contato{
    background-color: green;
    
}

.formulario{
    background-color: blueviolet;
    width: 100%;
}

.dados-formulario1{
    background-color: palevioletred;
     margin-bottom: 10px;
     justify-items: center;
     width: 100%;
}

.dados-formulario2{
    background-color: orangered;
    display: flex;

}

.titulo.quebra{
    background-color: gray;
}

.botao-formulario{
    background-color: brown;
}