/* Fontes do projeto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 800;
}
h2{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
}
h3{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
}
p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
}
/* Seção header da página de cadastro */
body header .header-cadastro{    
    display: flex;    
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height: 150px;
}
body header .logo-header-cadastro{
    height: 350px;
}
body header #img-header-cadastro{
    height: 60px;
    width: auto;
    display: flex;
    justify-content: flex-start;
}
body header .texto-header-cadastro{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
body header .texto-header-cadastro p{
    font-size: 14px;
}
/* Seção main da página de cadastro */
body main .titulo-cadastro{
    display: flex;
    justify-self: center;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #bcbcbc;
    
}
body main .titulo-cadastro h1{
    display: flex;
    margin: auto;    
    margin-bottom: 30px;
}
body main .dados-formulario{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
}
body main .formulario-cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
}
body main .linha-formulario{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
body main .formulario-cadastro label{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: black;
}
body main .formulario-cadastro input{
    height: 50px;
    background: #F3F1F1;
    border-radius: 10px;
    border: none;
}
body main .campo-formulario-cadastro#campo-esquerdo{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15%;
    padding-right: 2%;
}
body main .campo-formulario-cadastro#campo-direito{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2%;
    padding-right: 15%;
}
body main .campo-formulario-cadastro#campo-linhaunica{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
body main #select-form{
    height: 50px;
    background: #F3F1F1;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
}
body main .campo-formulario-cadastro#campo-linhaunica-senha{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}
#checkbox{
    margin: 5px;
}
body main .linha-formulario#texto-final-formulario{
    display: flex;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: flex-start;
}
body main .campo-formulario-cadastro#campo-linhaunica-senha button{
    width: 399px;
    background: #6699FF;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    color: white;
    margin-bottom: 150px;
}
body main .campo-formulario-cadastro#campo-linhaunica-senha button:hover{
    width: 399px;
    background: #2a71ff;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
}

/* Seção Footer */
body footer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}
body footer .secao-footer{
    width: 25%;
    padding-right: 5%;    
}
body footer .secao-footer h3{
    margin-bottom: 10px; 
    font-weight: 600;  
}
body footer .secao-footer a{
    text-decoration: none; 
    color: black;   
}
body footer article img{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
body footer article div.secao-footer-social{
    display: flex;
    width: 25%;    
}
body footer article div img{
    height: 40px;
    margin-right: 10px;
}
body footer article form.form-footer{
    display: flex;
    flex-direction: column;
}
body footer article form.form-footer label{
    font-family: 'Montserrat';
    font-size: 16px;
    margin-bottom: 5px;
}
body footer article form.form-footer input{
    height: 30px;
    background: #F3F1F1;
    border-radius: 10px;
    border: none;
}
body footer article form.form-footer textarea{
    height: 120px;
    background: #F3F1F1;
    border-radius: 10px;
    border: none;
}
body footer article form.form-footer button{
    background: #6699FF;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Montserrat';
    color: white;
}
body footer article form.form-footer button:hover{
    background: #2a71ff;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
}